$primary: #04386A;
$success: #1B8B5D;
$danger: #D9534F;

.btn-success {
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
}

.btn-outline-success {
    color: $success !important;
    border-color: $success !important;
}

.btn-outline-success:hover {
    background-color: $success !important;
    color: white !important;
}

.btn-outline-success:active {
    background-color: $success !important;
    color: white !important;
}

.btn-outline-success:focus {
    background-color: $success !important;
    color: white !important;
}

.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    color: white !important;
}

.btn-outline-primary {
    color: $primary !important;
    border-color: $primary !important;
}

.btn-outline-primary:hover {
    background-color: $primary !important;
    color: white !important;
}

.btn-outline-primary:active {
    background-color: $primary !important;
    color: white !important;
}

.btn-outline-primary:focus {
    background-color: $primary !important;
    color: white !important;
}

.text-primary {
    color: $primary !important;
}